<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <div th:insert="components/style.html"></div>
  <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link text-white"
         href="" th:href="@{/}">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white"
         href="#" th:href="@{/game/getAll}">Juegos Guardados</a>
    </li>
  </ul>
</nav>
  <div class="container text-center">
    <div class="row">
      <h1 th:text="'Cargando jugador '+${player.number}"></h1>
      <form th:method="post" th:action="@{/player/new}" th:object="${player}">
        <input type="hidden" name="id" th:name="*{id}" th:field="*{id}">
        <input type="hidden" name="gameId" th:name="*{gameId}" th:field="*{gameId}">
        <input type="hidden" name="number" th:name="*{number}" th:field="*{number}">
        <div class="form-group">
          <label for="inputName">Nombre: </label>
          <input class="form-control" type="text" name="name" id="inputName" th:field="*{name}" th:name="*{name}" autofocus required>
        </div>
        <div class="form-group" style="margin-top: 10px">
          <button type="submit" class="btn btn-primary" th:text="${player.number == 7}?'Elegir la Mano':'Guardar'">Guardar</button>
          <button type="reset" class="btn btn-primary">Borrar</button>
        </div>
      </form>
    </div>

  </div>

</body>
</html>